<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Form</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="main.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
	<h1 class="players text-center">Players Profile</h1>
	<div class="row">
	<div class="col-lg-6">
    	<div class="input-group">
      		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
      	<span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
	</div>
	<div class="row">
		<form class="form">
		<input type="text" class="input-control" ng-model="user.name" placeholder="Name">
		<input type="text" class="input-control" ng-model="user.position" placeholder="Position">
		<input type="text" class="input-control" ng-model="user.age" placeholder="Age">
		<button type="button" class="btn btn-success bt-lg" ng-click="submit()">Submit</button>
	</form>
	</div>
	
	<div class="row">
		<table class="table table-bordered table-striped text-center">
		<thead class="text-center">
			<th>Name</th>
			<th>Position</th>
			<th>Age</th>
			<th>Remove</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:searchTerm">
				<td>
					{{user.name}}
				</td>
				<td>
					{{user.position}}
				</td>
				<td>
					{{user.age}}
				</td>
				<td><button ng-click="remove($index)" class="btn btn-danger">Remove</button></td>
			</tr>
		</tbody>
	</table>
	</div>
	
</div>
</body>
</html>